@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body{
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'orbitron', sans-serif;
}
.box{
	height: 150px;
	width: 1200px;
	border: 5px solid #17d4fe;
	border-radius: 30px;
	box-shadow: 2px 2px 20px silver;

}
.countDown{
	font-size: 36px;
	color: #17d4fe;
	text-shadow: 2px 2px 20px #17d4fe;
	
}
.counter{
	display: inline-block;
	margin: 0 20px;
	text-align: center;
}